<div id="fullConten">

<div id="titulo", class="colorCeleste">Editar Lugar de Estudio/Trabajo</div>
<div id="texto2">

<%= simple_form_for @local do |f| %>


<% if @local.errors.any? %>
	<div id="flashmsg"> 
			
		<ul>Errores:
			<% @local.errors.full_messages.each do |message| %>
				<li><%= message %></li>				
			<% end %>
		</ul></div>
	<% end %>

	<%= f.input :nombre,:placeholder => 'Ingrese el nombre', input_html: { maxlength: 30, pattern:"[A-Z a-z]{2,25}" }%>

	<%= f.input :ubicacion,:placeholder => 'Ingrese el nombre', input_html: { maxlength: 30, pattern:"[A-Z a-z]{2,25}" }%>

	<%= f.input :fono,:placeholder => 'Ingrese el fono'%>

  
<%= f.submit "Guardar Cambios" ,:id => "botonIzq",:class=>"colorCeleste"%> 
<%= link_to "Cancelar", locals_path , :confirm => "¿Volver?",:id => "botonIzq",:class=>"colorCeleste"   %>
<% end %>
</div></div>
