
<div id="fullConten">

<div id="titulo", class="colorCeleste">Iniciar Sesión</div>
<div id="texto2">
<%= form_tag sessions_path do %>
 
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %><br>


    <%= label_tag :password %>
    <%= password_field_tag :password %><br>

  <%= submit_tag "Iniciar"  ,:id => "botonIzq",:class=>"colorCeleste"%>
<% end %></div></div>



AAAAAAAAAAAAAAAAAAAAPOOOOOOOOOOOOOOOOOOOOKOKOKSKADOAKSODOASDOASDOAKSODKSAODKOAD

AAAAAAAAAAAAAAAAAAAAPOOOOOOOOOOOOOOOOOOOOKOKOKSKADOAKSODOASDOASDOAKSODKSAODKOAD

AAAAAAAAAAAAAAAAAAAAPOOOOOOOOOOOOOOOOOOOOKOKOKSKADOAKSODOASDOASDOAKSODKSAODKOAD


