<div id="fullConten">

<div id="titulo", class="colorCeleste">Nuevo Pago</div>
<div id="texto2">
<%= simple_form_for @pago, :url => pagos_path , :method => 'post' do |f| %>


<% if @pago.errors.any? %>
	<div id="flashmsg"> 
			
		<ul>Errores:
			<% @pago.errors.full_messages.each do |message| %>
				<li><%= message %></li>				
			<% end %>
		</ul></div>
	<% end %>


<% if current_user.cargo_id == 1 %>
	<%= f.input :ficha_id, :collection => Ficha.all(:order=>'nombre'), :selected => :nombre,:label_method=> :nombre%>			

<% else %>			
<% end %>		


	

	<%= f.input :fecha, as: :date, start_year: Date.today.year,:use_month_numbers => true, end_year: Date.today.year-110, order: [:day,:month, :year]%>

	<%= f.input :valor, as: :integer ,:required => true,as: :integer, input_html: { maxlength: 10, min:"1", value:"0" , maxlength: 30, step: "any"}  %>

	<%= f.input :tipo_id, label: 'Tipo Pago', :collection => Tipo.all(:order=>'nombre'), :selected => :nombre,:label_method=> :nombre%>


	<%= f.input :detalle,:placeholder => 'Ingrese Detalle del Cobro Se es Necesario', input_html: { maxlength: 150, pattern:"[A-Z a-z]{2,25}" }%>   

	<div id="input"><%= f.label "Imagen (2 mb máx, jpg,jpeg,png)" ,:id=>"small"%>    
    <%= f.file_field :recibo %></div>


<%= f.submit "Agregar Nuevo Pago" ,:id => "botonIzq",:class=>"colorCeleste"%> 
<%= link_to "Cancelar", pagos_path , :confirm => "¿Volver?",:id => "botonIzq",:class=>"colorCeleste"   %>
<% end %>
</div></div>