<div id="fullConten">

<div id="titulo", class="colorCeleste">Nuevo Cargo</div>
<div id="texto2">


<%= simple_form_for @cargo do |f| %>

<% if @cargo.errors.any? %>
	<div id="flashmsg"> 
			
		<ul>Errores:
			<% @cargo.errors.full_messages.each do |message| %>
				<li><%= message %></li>				
			<% end %>
		</ul></div>
	<% end %>

	<%= f.input :nombre,:placeholder => 'Ingrese el nombre', input_html: { maxlength: 30, pattern:"[A-Z a-z]{2,25}" }%>

	<%= f.input :descripcion,as: :text %>

<%= f.submit "Agregar Cargo" ,:id => "botonIzq",:class=>"colorCeleste"%> 
<%= link_to "Cancelar", pagos_path , :confirm => "¿Volver?",:id => "botonIzq",:class=>"colorCeleste"   %>
<% end %>

</div></div>