
<div id="full">
<h1>Ocupación</h1>

<table id="contenPost">   
  
  
  <th id = "botonCeleste" ><%=  "Nombre"  %></th>  
  <th id = "botonCeleste" ><%=  "Descripción" %></th>  
  <th style="width: 110px;"></th> 
  
  <% for actividad in @actividads %>  
  <tr >      
  

    <td ><%= link_to actividad.nombre, actividad %></td>  
    <td ><%= link_to actividad.descripcion, actividad %></td>    

    
  <td><div id="opciones">  <%= link_to "Editar", edit_actividad_path(actividad) , id:"botonIzq"					,:class=>"colorCeleste"%>
					 
           <%=  button_to "Borrar", actividad, :confirm => "Perderá los datos. ¿Estas seguro?", :method => :delete ,:id => "botonIzq" ,:class=>"colorCeleste"%>

	</div></td> 

</tr>
  <% end %>  
</table>  
  
<%= link_to "Agregar Nueva Ocupación", new_actividad_path  ,:id => "botonIzq" ,:class=>"colorCeleste"%> 
<%= link_to "Volver a Registro", fichas_path,:id => "botonIzq",:class=>"colorCeleste"   %>
</div>