<h1>Participaciones</h1>

<table id="contenPost">   
  
  
  <th id = "botonCeleste" ><%=  "Nombre"  %></th>  
  <th id = "botonCeleste" ><%=  "Evento"  %></th>  
  <th id = "botonCeleste" ><%=  "Detalle" %></th>  
  <th id = "botonCeleste" style="width: 90px;"><%=  "Fecha"  %></th>
  <th style="width: 110px;"><%=  %></th> 
  
  <% for participacion in @participacions %>  
  <tr >      
  
	<td><%=link_to Ficha.find_by_id(participacion.ficha_id.to_i).nombre, participacion%></td>
    <td><%=link_to Evento.find_by_id(participacion.evento_id.to_i).nombre, participacion%></td> 
    <td ><%= link_to participacion.detalle, participacion %></td>    
    <td ><%= link_to participacion.fecha , participacion%></td>  

    
  <td><div id="opciones">  <%= link_to "Editar", edit_participacion_path(participacion) , id:"botonIzq"					,:class=>"colorCeleste"%>
					 <%=  button_to "Borrar", participacion, :confirm => "Perderá los datos. ¿Estas seguro?", :method => :delete ,:id => "botonIzq" ,:class=>"colorCeleste"%>
	</div></td> 

</tr>
  <% end %>  
</table>  
  
<%= link_to "Agregar Nueva Participacion", new_participacion_path  ,:id => "botonIzq" ,:class=>"colorCeleste"%> 
<%= link_to "Volver a Registro", fichas_path,:id => "botonIzq",:class=>"colorCeleste"   %>
