
<div id="fullConten">
<div id="titulo", class="colorCeleste"> Nombre: <%=  @ficha.nombre %></div>

<div id="texto">
<a  href="<%=@ficha.photo.url%>"><%= image_tag @ficha.photo.url ,:id=>"imagen"%></a>


<p >ID: <%=@ficha.id.to_i%></p>
<p>Rut: <%=  @ficha.rut %></p>
 <p >Tipo: <%= 
 @cargo.nombre;
%></p>

<p> Fecha de Nacimiento: <%=  @ficha.fechanacimiento.to_formatted_s(:rfc822)      %></p>
<p >Actividad: <%= 
 @actividad.nombre;
%></p>



<p >Lugar de estudio/trabajo: <%= 
 @local.nombre;
%></p>

<p >Total Horas: <%=number_to_currency(   @asistencias.sum(:horas), :unit => "", :delimiter => ".", :precision=> 0)%></p>


<p>Total Pagos:<%= number_to_currency(@pagos.sum(:valor), :unit => "$", :delimiter => ".", :precision=> 0) %></p>


<p >Fono: <%=number_to_phone(@ficha.fono)%></p>
<p >Email: <%=@ficha.email%></p>

</div>
<p><%= link_to "Editar", edit_ficha_path(@ficha)  ,:id => "botonIzq",:class=>"colorCeleste"%>
<INPUT id = "botonIzq" class="colorCeleste" Type="button" VALUE="Volver"  onClick="history.go(-1);return true;">




</div>




